.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40rem;
  padding: 2rem;
}
.boyut input {
  margin: 0.6rem;
}
.radio-form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.checkbox-1 {
  display: grid;
  grid-template-columns: repeat(3, 10rem);
  grid-gap: 10px;
}
.checkbox-1 input {
  margin: 0.3rem;
}

.ek-malzemeler {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.boyut {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 5rem;
}
.hamur {
  margin-left: 8rem;
}

.header {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
}

.nav-bar {
  background-color: #ce2829;
  padding: 0.1rem;
}
.nav-bar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding-left: 0px;
}
.nav-bar li {
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  color: aliceblue;
}

.nav-bar ul li a {
  color: white;
  text-decoration: none;
}

#order-button {
  width: 100%;
  background-color: #fdc913;
  border: none;
  outline: none;
  padding: 20px;
  font-weight: bold;
  border-radius: 8px;
  margin-top: 2rem;
}
hr {
  border: none;
  border-top: 2px solid black;
}
.bottom {
  display: flex;
  flex-direction: row;
}
.pizza-adet {
  display: flex;
  flex-direction: row;
  height: 3rem;
  width: 10rem;
}
.adet-sayisi {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  border: 1px solid gainsboro;
  border-radius: 5px;
}
.adet-sayisi p {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin-bottom: 0;
}
.siparis-detayi {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid gainsboro;
  font-weight: bold;
  font-family: "Barlow", sans-serif;
  width: 22rem;
  margin-left: 4rem;
  border-radius: 8px;
}

.arti {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  border: 1px solid gainsboro;
  border-radius: 5px;
  background-color: #ffc107;
}
.arti p {
  text-align: center;
  margin-bottom: 0;
  cursor: pointer;
  outline: none;
}
.arti:hover {
  background-color: #ffe186;
}
.eksi {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  border: 1px solid gainsboro;
  border-radius: 5px;
  background-color: #ffc107;
}
.eksi p {
  text-align: center;
  margin-bottom: 0;
  cursor: pointer;
  outline: none;
}
.eksi:hover {
  background-color: #ffe186;
}
.siparis-toplami {
  margin: 2rem;
}
